﻿@page
@model RazorPagesCoffee.Models.Genre

<tr>
    <td>
        @*Comedy, documentary etc..*@
        @Model.Name
        @* @Html.DisplayFor(modelItem => item.Name)*@
    </td>
    <td>
        @*<a href="/Genres/Edit?id=2">Edit</a>*@
        @*<a href="/Genres/Edit/2">Edit</a>*@
        <a href="/Genres/Edit/@Model.GenreID">Edit</a>

        <a asp-page="./Edit" asp-route-id="@Model.GenreID">Edit</a> |
        <a asp-page="./Details" asp-route-id="@Model.GenreID">Details</a> |
        <a asp-page="./Delete" asp-route-id="@Model.GenreID">Delete</a>
    </td>
</tr>
