@page
@model RazorPagesCoffee.Pages.Genres.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    @*<a href="/Genres/Create">Create New</a>*@
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*Name*@
                @Html.DisplayNameFor(model => model.Genres[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @Html.DisplayFor(model => model.Genres)
    </tbody>
</table>
