@page
@model Genres.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Genres[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Genres)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.GenreID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.GenreID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.GenreID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
